In [10]:
import pandas as pd
from datetime import datetime
import matplotlib.pyplot as plt
from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())

# todo: find better way to describe strategy.. pct allocated to asset, etc.

#------------------------------
#-- 0. Read in Assets
#------------------------------
df = pd.read_csv('D1_assets.csv')

#------------------------------
#-- 0. Assign Strategies
#------------------------------

# day 1 buy
START_DATE = '2013-05-01'
PRICE_COL = '"Adj Close"' # SQL needs double quotes on field name w space

asset_qty_chg_cols = """
  (CASE WHEN strftime('%d', Date) = '01' then 1000/"Adj Close" ELSE 0 END) as qty_chg
""".format(start_date=START_DATE)

q = """SELECT 
      'Port1' as PID
     ,df.*
     ,{asset_qty_chg_cols}
    FROM df
    WHERE Date >= '{start_date}'
    ORDER BY Date, PID, AID
    ;""".format(start_date=START_DATE, asset_qty_chg_cols=asset_qty_chg_cols)

df = pysqldf(q)

#------------------------------
#-- 0. Output to csv
#------------------------------
# Key: PID AID Date
df.to_csv('D2_strats.csv',index=False)

In [11]:
df.head(25)

,PID,AID,Date,Open,High,Low,Close,Adj Close,Volume,qty_chg
0,Port1,CRM,2014-03-03,60.650002,61.709999,59.820000,61.490002,61.490002,9303400,0.000000
1,Port1,CRM,2014-03-04,62.180000,63.369999,62.009998,63.070000,63.070000,7927200,0.000000
2,Port1,CRM,2014-03-05,63.070000,63.750000,62.939999,63.680000,63.680000,5464400,0.000000
3,Port1,CRM,2014-03-06,63.750000,63.869999,62.730000,63.139999,63.139999,3958800,0.000000
4,Port1,CRM,2014-03-07,63.200001,63.360001,59.730000,60.740002,60.740002,11239300,0.000000
5,Port1,CRM,2014-03-10,60.740002,60.980000,59.580002,59.779999,59.779999,6012000,0.000000
6,Port1,CRM,2014-03-11,59.990002,62.360001,59.520000,61.020000,61.020000,9907300,0.000000
7,Port1,CRM,2014-03-12,60.400002,61.529999,59.639999,61.520000,61.520000,5573400,0.000000
8,Port1,CRM,2014-03-13,61.799999,62.169998,58.419998,59.060001,59.060001,9256600,0.000000
9,Port1,CRM,2014-03-14,58.990002,59.290001,57.610001,58.160000,58.160000,6782900,0.000000
10,Port1,CRM,2014-03-17,58.610001,59.270000,58.020000,58.320000,58.320000,6285200,0.000000
11,Port1,CRM,2014-03-18,58.490002,59.630001,57.980000,59.630001,59.630001,6019300,0.000000
12,Port1,CRM,2014-03-19,59.459999,59.799999,57.919998,58.430000,58.430000,4918600,0.000000
13,Port1,CRM,2014-03-20,58.349998,59.380001,57.759998,59.119999,59.119999,4708400,0.000000
14,Port1,CRM,2014-03-21,59.740002,59.910000,56.770000,57.029999,57.029999,10227600,0.000000
15,Port1,CRM,2014-03-24,57.509998,57.549999,55.669998,56.360001,56.360001,6299000,0.000000
16,Port1,CRM,2014-03-25,56.810001,58.099998,55.259998,56.650002,56.650002,7581100,0.000000
17,Port1,CRM,2014-03-26,57.080002,57.209999,55.139999,55.209999,55.209999,6485400,0.000000
18,Port1,CRM,2014-03-27,55.000000,56.660000,53.860001,55.970001,55.970001,6206100,0.000000
19,Port1,CRM,2014-03-28,56.070000,56.939999,55.590000,55.750000,55.750000,5109500,0.000000
20,Port1,CRM,2014-03-31,56.169998,57.180000,56.139999,57.090000,57.090000,6520600,0.000000
21,Port1,CRM,2014-04-01,57.610001,58.889999,57.599998,58.799999,58.799999,5356600,17.006803
22,Port1,CRM,2014-04-02,59.049999,59.349998,57.709999,58.150002,58.150002,4799700,0.000000
23,Port1,CRM,2014-04-03,58.070000,58.240002,55.540001,55.740002,55.740002,6053200,0.000000
24,Port1,CRM,2014-04-04,56.250000,56.610001,54.049999,54.410000,54.410000,6496700,0.000000