In [1]:
import pandas as pd
from datetime import datetime
import matplotlib.pyplot as plt
from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())

# todo: find better way to describe strategy.. pct allocated to asset, etc.

#------------------------------
#-- 0. Read in D3 Ports Assets
#------------------------------
ports_assets_df = pd.read_csv('D3_ports_assets.csv')

#--------------------------------------
#-- 1. Summarize mv cost to ports level
#--------------------------------------
q = """SELECT 
      PID, Date
     ,sum({mv_col}) as {mv_col}
     ,sum({cost_col}) as {cost_col}
    FROM 
      ports_assets_df
    GROUP BY PID, Date
    ORDER BY PID, Date
    ;""".format(mv_col='mv',cost_col='cost')
df = pysqldf(q)

#------------------------------
#-- 3. Output to csv
#------------------------------
# Key: PID AID Date
df.to_csv('D4_ports.csv',index=False)

In [5]:
df.head(25)

      PID        Date           mv    cost
0   Port1  2014-03-03     0.000000     0.0
1   Port1  2014-03-04     0.000000     0.0
2   Port1  2014-03-05     0.000000     0.0
3   Port1  2014-03-06     0.000000     0.0
4   Port1  2014-03-07     0.000000     0.0
5   Port1  2014-03-10     0.000000     0.0
6   Port1  2014-03-11     0.000000     0.0
7   Port1  2014-03-12     0.000000     0.0
8   Port1  2014-03-13     0.000000     0.0
9   Port1  2014-03-14     0.000000     0.0
10  Port1  2014-03-17     0.000000     0.0
11  Port1  2014-03-18     0.000000     0.0
12  Port1  2014-03-19     0.000000     0.0
13  Port1  2014-03-20     0.000000     0.0
14  Port1  2014-03-21     0.000000     0.0
15  Port1  2014-03-24     0.000000     0.0
16  Port1  2014-03-25     0.000000     0.0
17  Port1  2014-03-26     0.000000     0.0
18  Port1  2014-03-27     0.000000     0.0
19  Port1  2014-03-28     0.000000     0.0
20  Port1  2014-03-31     0.000000     0.0
21  Port1  2014-04-01  1000.000000  1000.0
22  Port1  2014-04-02   988.945629  1000.0
23  Port1  2014-04-03   947.959234  1000.0
24  Port1  2014-04-04   925.340152  1000.0