In [1]:
import pandas as pd
from datetime import datetime
import matplotlib.pyplot as plt
from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())

# 1. gen_mvc (this code)
# 2. gen_view

#------------------------------
#-- 0. Read in 
#------------------------------
assets_df = pd.read_csv('D1_assets.csv')
strats_df = pd.read_csv('S03 BRK-B SPY.csv')

PRICE_COL = '"Adj Close"' # SQL needs double quotes on field name w space

q = """SELECT 
      drv.PID
     ,drv.AID
     ,drv.Date
     ,drv.qty_chg
     ,a.{price_col}
    FROM strats_df drv
    LEFT JOIN assets_df a on a.AID=drv.AID AND a.Date=drv.Date
    ORDER BY drv.PID, drv.AID, drv.Date
    ;""".format(price_col = PRICE_COL)

df = pysqldf(q)

#----------------------------------------
#-- 2. For each PID AID pair, gen mv cost
#----------------------------------------
## market value
df['cum_qty'] = df.groupby(['PID','AID']).cumsum()['qty_chg']
df['mv'] = df['cum_qty'] * df['Adj Close']

## cost
df['cost_chg'] = df['qty_chg']*df['Adj Close']
df['cost'] = df.groupby(['PID','AID']).cumsum()['cost_chg']

#------------------------------
#-- 3. Output to csv
#------------------------------
# Key: Date
df.to_csv('M03 BRK-B SPY.csv',index=False)

In [3]:
df.head(25)

,PID,AID,Date,qty_chg,Adj Close,cum_qty,mv,cost_chg,cost
0,S03,BRK-B,2014-03-03,0.000000,116.059998,0.000000,0.000000,0.0,0.0
1,S03,BRK-B,2014-03-04,0.000000,118.570000,0.000000,0.000000,0.0,0.0
2,S03,BRK-B,2014-03-05,0.000000,118.980003,0.000000,0.000000,0.0,0.0
3,S03,BRK-B,2014-03-06,0.000000,121.199997,0.000000,0.000000,0.0,0.0
4,S03,BRK-B,2014-03-07,0.000000,122.669998,0.000000,0.000000,0.0,0.0
5,S03,BRK-B,2014-03-10,0.000000,124.099998,0.000000,0.000000,0.0,0.0
6,S03,BRK-B,2014-03-11,0.000000,124.690002,0.000000,0.000000,0.0,0.0
7,S03,BRK-B,2014-03-12,0.000000,125.169998,0.000000,0.000000,0.0,0.0
8,S03,BRK-B,2014-03-13,0.000000,123.610001,0.000000,0.000000,0.0,0.0
9,S03,BRK-B,2014-03-14,0.000000,122.510002,0.000000,0.000000,0.0,0.0
10,S03,BRK-B,2014-03-17,0.000000,123.360001,0.000000,0.000000,0.0,0.0
11,S03,BRK-B,2014-03-18,0.000000,123.279999,0.000000,0.000000,0.0,0.0
12,S03,BRK-B,2014-03-19,0.000000,122.620003,0.000000,0.000000,0.0,0.0
13,S03,BRK-B,2014-03-20,0.000000,124.440002,0.000000,0.000000,0.0,0.0
14,S03,BRK-B,2014-03-21,0.000000,125.199997,0.000000,0.000000,0.0,0.0
15,S03,BRK-B,2014-03-24,0.000000,124.320000,0.000000,0.000000,0.0,0.0
16,S03,BRK-B,2014-03-25,0.000000,124.470001,0.000000,0.000000,0.0,0.0
17,S03,BRK-B,2014-03-26,0.000000,123.010002,0.000000,0.000000,0.0,0.0
18,S03,BRK-B,2014-03-27,0.000000,123.470001,0.000000,0.000000,0.0,0.0
19,S03,BRK-B,2014-03-28,0.000000,123.529999,0.000000,0.000000,0.0,0.0
20,S03,BRK-B,2014-03-31,0.000000,124.970001,0.000000,0.000000,0.0,0.0
21,S03,BRK-B,2014-04-01,8.007688,124.879997,8.007688,1000.000000,1000.0,1000.0
22,S03,BRK-B,2014-04-02,0.000000,124.470001,8.007688,996.716880,0.0,1000.0
23,S03,BRK-B,2014-04-03,0.000000,124.309998,8.007688,995.435626,0.0,1000.0
24,S03,BRK-B,2014-04-04,0.000000,123.900002,8.007688,992.152506,0.0,1000.0