* D0: http://localhost:8888/notebooks/Downloads/Personal/WTB/D0%20asset.ipynb
* D1: http://localhost:8888/notebooks/Downloads/Personal/WTB/D1%20assets.ipynb

In [12]:
import pandas as pd
from datetime import datetime
import matplotlib.pyplot as plt
from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())

# todo: find better way to describe strategy.. pct allocated to asset, etc.

#------------------------------
#-- 0. Read in Assets
#------------------------------
df = pd.read_csv('D1_assets.csv')

#------------------------------
#-- 0. Assign Strategies
#------------------------------

# buy 1000 at day 1 of each month
PID = 'S02'
START_DATE = '2013-01-01' # to handle diff assets start at diff date
PRICE_COL = '"Adj Close"' # SQL needs double quotes on field name w space

# find the first 01 day for each stock
q = """SELECT 
      AID
     ,min(Date) as first_01_day
    FROM df
    WHERE strftime('%d', Date) = '01'
    GROUP BY AID
    ;"""

f01_df = pysqldf(q) # not used, to be used later

asset_qty_chg_cols = """
  (CASE WHEN strftime('%d', Date) = '01' then 1000/"Adj Close" ELSE 0 END) as qty_chg
""".format(start_date=START_DATE)

q = """SELECT 
      '{pid}' as PID
     ,df.*
     ,{asset_qty_chg_cols}
    FROM df
    WHERE Date >= '{start_date}'
    ORDER BY PID, AID, Date
    ;""".format(pid=PID, start_date=START_DATE, asset_qty_chg_cols=asset_qty_chg_cols)

df = pysqldf(q)

#------------------------------
#-- 0. Output to csv
#------------------------------
# Key: PID AID Date
df.to_csv('S02 M1 9 Stocks.csv',index=False)

In [11]:
df.head(25)

,PID,Date,Open,High,Low,Close,Adj Close,Volume,AID,qty_chg
0,S02,2014-03-03,74.774284,75.807144,74.687141,75.394287,66.669823,59695300,AAPL,0.000000
1,S02,2014-03-04,75.857140,76.091431,75.395714,75.891426,67.109421,64785000,AAPL,0.000000
2,S02,2014-03-05,75.845711,76.392860,75.589996,76.051430,67.250908,50015700,AAPL,0.000000
3,S02,2014-03-06,76.112854,76.348572,75.442856,75.821426,67.047539,46372200,AAPL,0.000000
4,S02,2014-03-07,75.870003,75.997147,75.150002,75.777145,67.008354,55182400,AAPL,0.000000
5,S02,2014-03-10,75.480003,76.190002,75.477142,75.845711,67.068993,44646000,AAPL,0.000000
6,S02,2014-03-11,76.492859,76.962860,76.084282,76.584282,67.722099,69806100,AAPL,0.000000
7,S02,2014-03-12,76.358574,76.764282,76.000000,76.658569,67.787781,49831600,AAPL,0.000000
8,S02,2014-03-13,76.777145,77.094284,75.594284,75.807144,67.034889,64435700,AAPL,0.000000
9,S02,2014-03-14,75.541428,75.841431,74.714287,74.955711,66.281975,59299800,AAPL,0.000000
10,S02,2014-03-17,75.385712,75.709999,75.121429,75.248573,66.540955,49886200,AAPL,0.000000
11,S02,2014-03-18,75.128571,75.995712,75.028572,75.914284,67.129631,52411800,AAPL,0.000000
12,S02,2014-03-19,76.037140,76.605713,75.571426,75.894287,67.111969,56189000,AAPL,0.000000
13,S02,2014-03-20,75.698570,76.095711,75.335716,75.528572,66.788559,52099600,AAPL,0.000000
14,S02,2014-03-21,75.989998,76.250000,75.190002,76.124283,67.315308,93511600,AAPL,0.000000
15,S02,2014-03-24,76.917145,77.214287,76.437141,77.027145,68.113724,88925200,AAPL,0.000000
16,S02,2014-03-25,77.357140,77.964287,77.084282,77.855713,68.846397,70573300,AAPL,0.000000
17,S02,2014-03-26,78.074287,78.428574,76.980003,77.111427,68.188232,74942000,AAPL,0.000000
18,S02,2014-03-27,77.145714,77.357140,76.445717,76.779999,67.895157,55507900,AAPL,0.000000
19,S02,2014-03-28,76.902855,76.991432,76.321426,76.694283,67.819397,50141000,AAPL,0.000000
20,S02,2014-03-31,77.032860,77.258568,76.561432,76.677139,67.804207,42167300,AAPL,0.000000
21,S02,2014-04-01,76.822861,77.410004,76.681427,77.378571,68.424469,50190000,AAPL,14.614655
22,S02,2014-04-02,77.482857,77.639999,77.180000,77.507141,68.538170,45105200,AAPL,0.000000
23,S02,2014-04-03,77.341431,77.500000,76.805717,76.970001,68.063202,40586000,AAPL,0.000000
24,S02,2014-04-04,77.115715,77.142860,75.797142,75.974289,67.182701,68812800,AAPL,0.000000