https://stdana.atlassian.net/wiki/spaces/STDAN/pages/67141855/D1+assets

In [4]:
import pandas as pd
from datetime import datetime
import matplotlib.pyplot as plt
from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())

# todo: use function to handle a list of assets

#------------------------------
#-- 0. Read in Asset_Daily
#------------------------------
team_df = pd.read_csv('TEAM.csv')
crm_df  = pd.read_csv('CRM.csv')
baba_df = pd.read_csv('BABA.csv')

#------------------------------
#-- 1. Append AID
#------------------------------
def append_pid_aid(AID, asset_df):
    q = """SELECT
          '{AID}' as AID
         ,{asset_df}.*
        FROM
          {asset_df}
        ;""".format(AID=AID, asset_df=asset_df)
    asset_df = pysqldf(q)
    return asset_df
    
team_df = append_pid_aid(asset_df='team_df', AID='TEAM')
crm_df = append_pid_aid(asset_df='crm_df', AID='CRM')
baba_df = append_pid_aid(asset_df='baba_df', AID='BABA')

#------------------------------
#-- 4. Stack Assets
#------------------------------
q = """SELECT * FROM team_df
       UNION
       SELECT * FROM crm_df
       UNION
       SELECT * FROM baba_df
    ;"""
df = pysqldf(q)
df.to_csv('D1_assets.csv',index=False) # Save assets_df
# ref code: pd.concat([df1, df2])

In [5]:
df.head()

,AID,Date,Open,High,Low,Close,Adj Close,Volume
0,BABA,2014-09-19,92.699997,99.699997,89.949997,93.889999,93.889999,271879400
1,BABA,2014-09-22,92.699997,92.949997,89.500000,89.889999,89.889999,66657800
2,BABA,2014-09-23,88.940002,90.480003,86.620003,87.169998,87.169998,39009800
3,BABA,2014-09-24,88.470001,90.570000,87.220001,90.570000,90.570000,32088000
4,BABA,2014-09-25,91.089996,91.500000,88.500000,88.919998,88.919998,28598000